/* src/App.css */
.app-container {
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.header {
  background-color: #222;
  padding: 1rem;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links a {
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}

.main-content {
  padding: 2rem;
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-size: 0.9rem;
}
